/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[14].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[14].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[2].oneOf[14].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[2].oneOf[14].use[5]!./app/styles/navbar.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
nav {
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  list-style-type: none;
}
nav li {
  font-size: 14pt;
  font-weight: 800;
  display: block;
  flex-basis: auto;
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  margin: 0;
  padding: 8px;
  padding-bottom: 3px;
}

.menu-button {
  padding: 0;
}

.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}
.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  min-height: 100%;
  width: 200px;
  background: black;
  display: flex;
  flex-flow: column wrap;
}
.main-menu a {
  display: block;
  padding: 0.75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: white;
  text-decoration: none;
}
.main-menu a:hover,
.main-menu a:focus {
  color: var(--darkpink);
  background: rgba(0, 0, 0, 0.5);
}
.main-menu .menu-close {
  position: absolute;
  padding-left: 2rem;
  left: 0;
  top: 0;
}
.main-menu:target, .main-menu[aria-expanded=true] {
  display: block;
  left: 0;
  outline: none;
}
.main-menu:target .menu-close, .main-menu[aria-expanded=true] .menu-close {
  z-index: 1001;
}
.main-menu:target ul, .main-menu[aria-expanded=true] ul {
  position: relative;
  z-index: 1000;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded=true] + .backdrop {
    position: fixed;
  }
}
@media (min-width: 768px) {
  nav ul {
    justify-content: center;
  }
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    display: block;
  }
  .main-menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    /* Undo off-canvas styling */
    padding: 0;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  .main-menu li:first-child {
    margin-right: auto;
  }
  .main-menu a {
    color: black;
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #6b1848;
  }
}
