@import url("https://fonts.googleapis.com/css2?family=Gloock&family=PT+Serif&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --paragraph: "PT Serif", serif;
  --heading: "Gloock", serif;
  --border-radius: 5px;
  --transition-duration: 0.5s;
  --transition-easing: cubic-bezier(0.5, 0, 0.5, 1);
  --animation-duration: 0.8s;

  background-color: white;
  color: black;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--paragraph);
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

article {
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 1.5rem;
  background-color: white;
  color: black;
  border-radius: var(--border-radius);
}

header {
  padding: 1rem;
}

.name span {
  font-family: var(--heading);
}

#intro [class*="fa-"] {
  font-size: 200%;
}

#intro h2 {
  font-size: 2rem;
}

.projects-container {
  display: flex;
  gap: 1rem;
  flex-flow: column wrap;
  justify-content: center;
}

#contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.message {
  color: black;
  height: 200px;
  vertical-align: top;
}

form {
  display: flex;
  flex-flow: column;
  gap: 2rem;

  input,
  textarea {
    padding: 1rem;
    border-radius: 10px;
    width: clamp(100px, 500px, 80vw);
    border: solid black 2px;
  }

  #submit-button {
    border: none;
  }
}

footer {
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    column-gap: 1rem;
    font-size: 24px;
  }
}

/** Media Queries **/

@media (min-width: 576px) {
 
  
  section {
    flex-basis: 40%;
  }
}

@media (min-width: 800px) {
  .projects-container {
    flex-flow: row wrap;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

