@import url("https://fonts.googleapis.com/css2?family=Gloock&family=PT+Serif&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --lightbg: #ffffff;
  --darkbg: #2a3033;
  --purple: #b3a2ed;
  --text: #000000;
  --primary: #675c8b;
  --secondary: #352c54;
  --accent: #194237;
  --darkPrimary: #b3a1ed;
  --darkaccent: #29b4f0;

  --paragraph: "PT Serif", serif;
  --heading: "Gloock", serif;

  --border-radius: 5px;

  --transition-duration: 0.5s;
  --transition-easing: cubic-bezier(0.5, 0, 0.5, 1);
  --animation-duration: 0.8s;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--paragraph);
  padding: 0;
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "nav shopping-cart";
  align-items: center;
  padding: 10px 60px;
}

.menu {
  display: none;
}

.logo {
  font-size: 30px;
}

nav {
  justify-self: end;
}

.nav__list {
  list-style-type: none;
  display: flex;
}

.nav__list-item {
  margin-inline-end: 36px;
  font-size: 20px;
}

.nav__list-item a:hover {
  color: var(--darkPrimary);
}

article {
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border-radius: var(--border-radius);
  max-width: 1200px;
}

footer {
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    column-gap: 1rem;
    font-size: 24px;
  }
}

@media (max-width: 576px) {
  header {
    display: grid;
    grid-template-columns: 33px 1fr;
    padding: 1rem;
  }

  .body__overflow {
    overflow: hidden;
  }

  .menu {
    display: block;
  }

  .logo {
    justify-self: end;
  }

  nav {
    position: absolute;
    top: 60px;
    left: -100%;
    transition: left 0.2s linear;
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .nav--show {
    left: 1rem;
  }

  .nav__list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    flex-flow: column wrap;
    justify-content: flex-start;
    font-size: 24px;
  }
}
