@import url("https://fonts.googleapis.com/css2?family=Gloock&family=PT+Serif&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --paragraph: "PT Serif", serif;
  --heading: "Gloock", serif;
  --border-radius: 5px;
  --transition-duration: 0.5s;
  --transition-easing: cubic-bezier(0.5, 0, 0.5, 1);
  --animation-duration: 0.8s;


  background-color: black;
  color: white;
}



html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--paragraph);
  padding: 0;
  margin: 0;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.opacity {
  opacity: 0;
}
.displayNone {
  display: none;
}
.visibility {
  visibility: hidden;
}

.flexList {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  align-items: center;
}

article {
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border-radius: var(--border-radius);
  max-width: 1200px;
}

header {
  padding: 1rem;
}

.name span {
  font-family: var(--heading);
}

#intro [class*="fa-"] {
  font-size: 200%;
}

#intro h2 {
  font-size: 2rem;
}

.projects-container {
  display: flex;
  gap: 1rem;
  flex-flow: column wrap;
  justify-content: center;

}

#contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-flow: column;
  gap: 2rem;

  input,
  textarea {
    padding: 1rem;
    border-radius: 10px;
    width: clamp(100px, 500px, 80vw);
    border: solid black 2px;
  }

  .message {
    height: 200px;
    vertical-align: top;
  }

  #submit-button {
    border: none;
  }
}

.projects {
  display: flex ;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
    gap: 1rem;
    flex-flow: row wrap;
    font-size: .9rem;
    font-family: 'Sora', sans-serif;
  }

 img {
    margin: 2rem 0 4rem ; 
    border-left: 2px solid #246353;
    border-top: 2px solid #246353;
    border-bottom: 2px solid #246353;
    border-radius: 25px;
    padding: 1rem;
  }

  .reverse img {
    border-left: none;
    border-right: 2px solid #246353;
  }

  .details-box {
    color: white;
    background-color: #246353;
    border-radius: 5px;
    margin: .5rem 0;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  .project-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: flex-end;
  }

  ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    flex-flow: row wrap;
    align-items: center;
  }
}


footer {
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    column-gap: 1rem;
    font-size: 24px;
  }
}

/** Media Queries **/

@media (min-width: 576px) {
  section {
    flex-basis: 40%;
  }

  .project {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  
  #projects img {
    width: 60%;
    grid-column: 1/10;
    grid-row: 1/2;
  }

  .text{
    grid-column: 5/11;
    order: 2;
    text-align: right;
    grid-row: 1/2;
  }

  .reverse .project-links {
    justify-content: flex-start;
  }

  .reverse ul {
    justify-content: flex-end;
  }

  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }
  #projects .reverse img {
    grid-column: 5/11;
    grid-row: 1/2;
    justify-content: right;
    width: 95%;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
}

@media (min-width: 800px) {
  .projects-container {
    flex-flow: row wrap;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }

}

