@import "./globals.scss";

//HERO SECTION START

#intro {
  padding: 0rem 2rem;
}

.hero-section {
  max-width: 500px;

  ul {
    margin-top: 16px;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    column-gap: 1rem;
    font-size: 24px;
    fill: rgb(var(--secondary));
    svg {
      fill: rgb(var(--secondary));
    }
  }
}

.hero__name {
  font-size: 64px;
  margin: 0;
  padding: 0;
}

.hero__title {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

// PROJECTS START

.project {
  position: relative;
}

.project:not(:last-child) {
  padding-bottom: 200px;
}

.project:last-child {
  padding-bottom: 100px;
}

.project__information {
  padding: 20px;
  position: absolute;
  z-index: 1;
}

.project__title {
  font-size: 1.5rem;
}

.tech__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  gap: 1rem;
  display: flex;
  flex-flow: row wrap;
  font-size: 0.9rem;
  font-family: "Sora", sans-serif;
}

img {
  margin: 2rem 0 4rem;
  border-left: 2px solid rgb(var(--secondary));
  border-top: 2px solid rgb(var(--secondary));
  border-bottom: 2px solid rgb(var(--secondary));
  border-radius: 25px;
  padding: 1rem;
}

.details-box {
  color: rgb(var(--background));
  background-color: rgb(var(--accent));
  border: 3px black solid;
  filter: drop-shadow(4px 6px 0px rgba(var(--secondary), 1));
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.project-links {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: flex-end;
}

/** Media Queries **/

@media (min-width: 576px) {
  .project:not(:last-child) {
    padding-top: 200px;
    padding-bottom: 300px;
  }

  .project:last-child {
    padding-bottom: 200px;
  }

  .project__image {
    width: 60%;
    max-height: 800px;
  }

  .project__image {
    position: absolute;
    top: 0;
    right: 0;
  }

  .project__information {
    max-width: 1070px;
    position: relative;
    z-index: 1;
  }

  .details-box {
    width: 65%;
    padding: 40px 60px;
  }
}
