:root {
  --highlights: #a978f2;
  --lighthighlights: #884dff;
}

.dropdown-wrap {
  position: relative;
}
.dropdown-activator {
  align-items: center;
  background-color: inherit;
  border: 1px solid transparent;
  border-color: #ccc;
  color: inherit;
  display: flex;
  font-size: inherit;
  max-width: 160px;
  padding: 1em;

  &:after {
    content: "";
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    height: 0.5em;
    margin-left: 0.75em;
    width: 0.5em;
    transform: rotate(45deg);
  }
}
.dropdown-itemList {
  background-color: #ececec;
  color: black;
  display: none;
  margin: 0;
  min-width: 160px;
  padding: 0;
  position: absolute;

  li {
    list-style: none;
    margin: 0;

    a,
    a:link {
      display: block;
      padding: 0.5em;
    }
  }

  &.active {
    display: block;
  }
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  margin: 0;
  padding: 8px;
  padding-bottom: 3px;
}

.menu-button {
  padding: 0;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  min-height: 100%;
  width: 200px;
  background: var(--lighthighlights);
  display: flex;
  flex-flow: column wrap;
}

.main-menu a {
  display: block;
  padding: 0.75em 15px;
  line-height: 1em;
  text-decoration: none;
}

.main-menu:target a:hover {
  color: black;
}

.main-menu .menu-close {
  position: absolute;
  padding-left: 2rem;
  left: 0;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/

@media (min-width: 768px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav ul {
    justify-content: center;
  }
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }

  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    display: block;
  }

  .main-menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  .main-menu li:first-child {
    margin-right: auto;
  }
  .main-menu li:last-child {
    margin-left: auto;
  }
  .main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
  }

  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
  }
}
